@model Domain.Relationships
<h4>Relationships</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonOne.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonTwo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleOne.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleTwo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationshipTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationshipTypes.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedAt)
        </dd>
    </dl>